#About {
  display: flex;
  flex-direction: column;
  align-items: center;

  .intro_header {
    display: flex;
    // padding: 0px 30px 0px 30px;

    h4 {
      font-size: 35px;
      margin: 10px 0px 30px 0px;
    }

    #About-img {
      border-radius: 25px;
      // margin: 0px 30px;
      border: 1px solid gold;
      width: 30vw;
      height: 30vw;
    }

    #about-description {
      background-color: rgba(63, 59, 59, 0.283);
      color: white;
      border: 1px solid gold;
      border-radius: 25px;

      :hover {
        color: gold;

        a,
        h4 {
          color: white !important;
        }
      }

      .intro_container {
        text-align: left;
        font-size: 14.5px;

        a {
          color: gold;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  #About {
    padding: 7% 3% 0% 12%;

    .intro_header {
      flex-direction: column;
      gap: 2%;

      .intro_left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .slider .image {
          height: 28vw;
          width: 28vw;
        }
      }
    }

    h4 {
      font-size: 25px !important;
    }
  }
}

@media (max-width: 480px) {
  #About {
    padding: 7% 3% 0% 14%;

    .intro_header {
      flex-direction: column;
      gap: 2%;

      #about-description {
        .MuiCardContent-root {
          .intro_container {
            font-size: 12px;
          }
        }
      }

      .intro_left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        img {
          height: 20vw;
          width: 20vw;
        }

        .slider .image {
          height: 24vw;
          width: 24vw;
        }
      }
    }

    h4 {
      font-size: 20px !important;
    }
  }
}
