#About {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 3% 0% 8vw;

  .intro_header {
    display: flex;
    flex-direction: column;
    gap: 5%;

    .intro_left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      #About-img {
        height: 27vw;
        width: 27vw;
        border-radius: 25px;
        border: 1px solid gold;
      }

      .slider .image {
        height: 25vw;
        width: 25vw;
      }
    }

    h4 {
      font-size: 5vw;
      margin: 10px 0px 30px 0px;
    }

    #about-description {
      background-color: rgba(63, 59, 59, 0.283);
      color: white;
      border: 1px solid gold;
      border-radius: 25px;

      :hover {
        color: gold;

        a,
        h4 {
          color: white !important;
        }
      }

      .intro_container {
        text-align: left;
        font-size: 1.5vw;
        padding-bottom: 5%;

        a {
          color: gold;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  #About {
    padding: 2vw 3% 0% 8vw;

    .intro_header {
      flex-direction: row;

      .intro_left {
        flex-direction: column;

        #About-img {
          height: 280px;
          width: 280px;
        }

        .slider .image {
          height: 280px;
          width: 280px;
        }
      }
    }

    #about-description {
      max-width: 600px;
      max-height: 700px;

      .MuiCardContent-root {
        h4 {
          font-size: 37px;
        }
        .intro_container {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 928px) {
  #About {
    #about-description {
      .MuiCardContent-root {
        .intro_container {
          font-size: 1.9vw;
        }
      }
    }
  }
}

//////**  MEDIA AT BELOW 769 **//////
@media (max-width: 769px) {
  #About {
    padding: 5vw 3% 0% 12%;

    // .slider .image {
    //   height: 28vw;
    //   width: 28vw;
    // }

    // h4 {
    //   font-size: 25px !important;
    // }
  }
}

//////**  MEDIA AT BELOW 480 **//////
@media (max-width: 480px) {
  #About {
    padding: 15vw 3% 0% 18vw;

    .intro_left {
      img {
        height: 20vw;
        width: 20vw;
      }

      .slider .image {
        height: 24vw;
        width: 24vw;
      }
    }

    #about-description {
      .MuiCardContent-root {
        .intro_container {
          font-size: 2.8vw;
        }
      }
    }
  }
}
