#About-container {
  padding-bottom: 200px;
  
  .intro_header {
    display: flex;
    padding: 0px 30px 0px 30px;
    
    h4 {
      font-size: 35px;
      margin: 10px 0px 30px 0px;
    }
  }

  
  .About-cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    .intro_container {
      text-align: left;
    }

    #About-img {
      border-radius: 25px;
      margin: 0px 30px 0px 30px;
      border: 1px solid gold;
      margin-bottom: 100px;
    }

    #about-description {
      background-color: rgba(63, 59, 59, 0.283) !important;
      color: white !important;
      border: 1px solid gold;
      border-radius: 25px;
    }

    .Card-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 5%;
      margin-right: 5%;

      .MuiPaper-root {
        background-color: rgba(63, 59, 59, 0.283) !important;
        color: white !important;
        border: 1px solid gold;
        border-radius: 25px;

        &:hover {
          color: gold !important;
          background-color: rgba(101, 98, 98, 0.906) !important;

          p {
            color: gold !important;
          }

          .MuiSvgIcon-root {
            color: gold;
          }
        }
      }
    }
  }

  .education_card {
    margin: 20px 0px 20px 0px;

    
    .education_description {
      text-align: left;
      margin: 2%;
    }
    
    .description_toggle {
      display: flex;
      justify-content: center;
      
      .MuiSvgIcon-root {
        color: white;
      }
    }
  }

}

.MuiCardContent-root {
  p {
    color: white !important;

    &:hover {
      color: gold;
    }
  }
  ul {
    padding-left: 0px;

    .school {
      font-weight: bold;
      font-size: 17px;
    }

    li {
      list-style: none;
      padding-bottom: 7px;
      font-size: 12px;
    }
  }
}
