.Card-list {
  // img {
  //   object-fit: contain;
  // }
  .education_card {

    border-radius: 25px;
    margin: 30px;
    border: 1px solid gold;
    position: relative;
    max-width: 1000px;

      img {
        object-fit: contain;
        height: auto;
        width: 100%;
        max-width: 100%;
      }
    .education_img_container {
      height: 5em;
      width: 7em;
      position: absolute;
      left: 50px;
    }
  }
}