.education_card_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;

  .MuiPaper-root {
    background-color: rgba(63, 59, 59, 0.283) !important;
    color: white !important;
    border: 1px solid gold;
    border-radius: 25px;

    &:hover {
      color: gold !important;
      background-color: rgba(101, 98, 98, 0.906) !important;

      p {
        color: gold !important;
      }

      .MuiSvgIcon-root {
        color: gold;
      }
    }
  }
}

.education_card {
  margin: 20px 10px 20px 10px;

  
  .education_description {
    text-align: left;
    margin: 2%;
  }
  
  .description_toggle {
    display: flex;
    justify-content: center;
    
    .MuiSvgIcon-root {
      color: white;
    }
  }
}