.Card-list {

  .education_header {
    position: relative;

    .education_img_container {
      height: 6em;
      width: 8em;
      position: absolute;
      left: 50px;
    }

    img {
      object-fit: contain;
      height: auto;
      width: 100%;
      max-width: 100%;
    }
  }
  .education_description {
    text-align: left;
    margin: 2%;
  }
}