.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 80px;

  .MuiPaper-root {
    background-color: rgba(63, 59, 59, 0.283) !important;
    color: white !important;
    border: 1px solid gold;
    border-radius: 25px;
    margin: 30px 10px 30px 10px;

    &:hover {
      background-color: rgba(101, 98, 98, 0.906) !important;
    }

  }

  .work-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 3%;

    .position_header {
      display: inherit;
      justify-content: space-between;
    }

    .details_toggle {
      display: flex;
      justify-content: center;
    }
  }

  .job-description-list {
    margin: 0 4%;
    li {
      list-style: disc;
      font-size: 17px;
      padding-bottom: 10px;
      text-align: left;

      span {
        position: relative;
        left: 20px;
      }
    }
  }
}