.experience_grid {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  padding: 0 10%;
  justify-content: center;
 

  .experience_grid_card {
    flex: 1 1 40%;
    align-items: center;
    display: flex;
    justify-content: center;

    :nth-child(odd) {
      flex: 0 0 50px;
    }

    img {
      height: 32vh;
      width: 32vh;
      object-fit: cover;
      border: 2px solid gold;
      border-radius: 25%;
    }
  }

  .MuiPaper-root {
    background-color: rgba(63, 59, 59, 0.283) !important;
    color: white !important;
    border: 1px solid gold;
    border-radius: 25px;
    width: 90%;
    position: relative;
    height: 100%;

    &:hover {
      background-color: rgba(101, 98, 98, 0.906) !important;
      color: gold !important;

      .position_header, h3 {
        color: orange;
      }
    }

    .toggle_close {
      position: absolute;
      top: 2%;
      right: 5%;
      display: flex;
      align-items: center;
      height: 6%;
      width: 6%;
      color: gold;
    }

    h2 {
      background: gold;
      color: black;
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  .work-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 3%;

    .position_header {
      display: inherit;
      justify-content: space-between;
    }

    .details_toggle {
      display: flex;
      justify-content: center;
      margin-top: -3%;

      .MuiSvgIcon-root {
        color: gold;
      }
    }
  }

  .job-description-list {

    li {
      list-style: disc;
      font-size: 2.3vh;
      padding-bottom: 1vh;
      text-align: left;

      span {
        position: relative;
        left: 20px;
      }
    }
  }
  
}