.experience_grid {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  padding: 0 10%;
  justify-content: center;

  .experience_grid_card {
    flex: 1 1 40%;
    align-items: center;
    display: flex;
    justify-content: center;

    :nth-child(odd) {
      flex: 0 0 50px;
    }

    img {
      height: 32vh;
      width: 32vh;
      object-fit: cover;
      border: 2px solid gold;
      border-radius: 25%;
    }
  }

  .MuiPaper-root {
    background-color: rgba(63, 59, 59, 0.283) !important;
    color: white !important;
    border: 1px solid gold;
    border-radius: 25px;
    width: 90%;
    position: relative;
    height: 90%;
    font-size: 2.3vh;
    align-self: center;

    &:hover {
      background-color: rgba(101, 98, 98, 0.906) !important;
      color: gold !important;

      .position_header,
      h3 {
        color: orange;
      }
    }

    .MuiCardMedia-root {
      height: 25%;
    }

    .toggle_close {
      position: absolute;
      top: 2%;
      right: 5%;
      display: flex;
      align-items: center;
      height: 6%;
      width: 6%;
      color: gold;
    }

    h2 {
      background: gold;
      color: black;
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .MuiCardContent-root {
      h4 {
        margin: 0;
      }
    }
  }

  .work-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2%;

    li {
      font-size: 3vw;
    }

    .position_header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 p {
        margin-top: 2%;
      }
    }

    .details_toggle {
      display: flex;
      justify-content: center;
      margin-top: -3%;
      align-items: center;

      .MuiSvgIcon-root {
        color: gold;
      }
    }
  }

  .job-description-list {
    margin-top: 0;
    padding-left: 5%;

    li {
      list-style: disc;
      padding-bottom: 1vh;
      text-align: left;

      span {
        position: relative;
        left: 20px;
      }
    }
  }
}

@media (min-width: 1026px) {
  .experience_grid {
    .experience_grid_card {
      img {
        height: 300px;
        width: 300px;
      }
    }
  }
}

@media (max-width: 1025px) {
  .experience_grid {
    .experience_grid_card {
      img {
        height: 30vw;
        width: 30vw;
      }
    }
  }
}

@media (max-width: 769px) {
  .experience_grid {
    .MuiPaper-root {
      width: 73vw;
      margin-left: 9vw;

      // .MuiCardMedia-root {
      //   height: 25%;
      // }

      .work-info {
        gap: 3vw;

        &.active {
          gap: 0;

          li {
            font-size: 2.3vw;
          }

          h3 {
            font-size: 2.9vw;
          }
        }
      }

      h4 {
        font-size: 100%;
      }

      .details_toggle {
        h4 {
          font-size: 3vw;
        }
      }

      .position_header {
        h3 {
          font-size: 100%;
        }

        p {
          font-size: 2.5vw;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .experience_grid {
    .MuiPaper-root {
      h4 {
        font-size: 80%;
      }

      h2 {
        font-size: 100%;
      }

      .MuiCardMedia-root {
        height: 20%;
      }

      .work-info {
        &.active {
          li {
            font-size: 65%;
          }
        }
        h3 {
          font-size: 90%;
        }
      }
    }
    .experience_grid_card {
      img {
        height: 40vw;
        width: 40vw;
      }
    }
  }
}
