.home_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15vh 7%;

  h1 {
    color: gold;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 30vw;
    width: 30vw;
    box-shadow: 0px 0px 9px 4px gold;
    animation: glow 1.5s linear infinite alternate;
  }
  @keyframes glow{
    to {
      box-shadow: 0px 0px 20px 10px gold;
    }
  }
}