.home_container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-self: center;
  height: 60vh;

  h1 {
    color: gold;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    height: 30vw;
    width: 30vw;
    box-shadow: 0px 0px 9px 4px gold;
    animation: glow 1.5s linear infinite alternate;
  }
  @keyframes glow {
    to {
      box-shadow: 0px 0px 20px 10px gold;
    }
  }
}

@media (min-width: 1026px) {
  .home_container {
    padding: 15vh 7%;
    gap: 25px;
    flex-direction: row;
  }
}

@media (max-width: 1025px) {
  .home_container {
    flex-direction: row;
    // padding: 15vh 9%;
    // gap: 25px;
  }

  .top_nav {
    a:after {
      font-size: 10px !important;
    }
  }
}

@media (max-width: 769px) {
  .home_container {
    // padding: 0 3% 0 15%;
    // padding: 18vh 3% 15vh 15%;
    flex-direction: column;
    // gap: 50px;

    img {
      height: 40vw;
      width: 40vw;
    }

    h1 {
      font-size: 35px;
    }
  }

  .top_nav {
    h3 {
      font-size: 3vw;
      word-wrap: normal;
      padding-top: 1vw;
    }

    a:after {
      font-size: 9px !important;
    }
  }
}

@media (max-width: 480px) {
  .home_container {
    padding: 0 3% 0 15%;
    // flex-direction: column;
    // gap: 50px;

    img {
      height: 50vw;
      width: 50vw;
    }

    h1 {
      font-size: 30px;
    }
  }

  .top_nav {
    a:after {
      font-size: 8px !important;
    }
  }
}
