#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin: 1% 3% 1% 6%;

  .project_side_view {
    display: flex;
    align-items: center;
    min-height: 450px;
    
    .project_img {
      width: 56vw;

      img {
        max-height: 90%;
        max-width: 90%;
      }
    }

    .project_info {
      width: 36vw;
      text-align: left;
      display: flex;
      flex-direction: column;
      // margin-top: 5%;

      h5 {
        background: gold;
        color: black;
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: center;
      }

      .MuiButton-root {
        align-self: center;
        border: 1px solid gold;
        color: gold;

        &:hover {
          color: black;
          border-color: white;
          background-color: gold !important;
        }
      }
    }

  }
}