#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  .project-container {
    margin: 30px 10px 30px 10px;
  
    h5 {
      background: gold;
      color: black;
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .MuiCardMedia-root {
      max-height: 500px;
    }
    .MuiCard-root {
      display: flex;
      flex-direction: column;
      align-items: center;

      .MuiButton-root {
        border: 1px solid gold;
        color: gold;
      }

      .MuiTypography-h5 {
        background: gold;
        color: black;
      }

      .MuiButton-root {
        &:hover {
          color: black;
          border-color: white;
          background-color: gold !important;
        }
      }
    }

    .MuiPaper-root {
      background-color: rgba(63, 59, 59, 0.283) !important;
      color: white !important;
      border: 1px solid gold;
      border-radius: 25px;

      p {
        text-align: left;
        padding-left: 15px;
      }
    }
  }
}
