.top_nav {
  padding-bottom: 70px;
  position: relative;

  .top_nav_links {
    display: flex;
    gap: 5vw;
    position: absolute;
    top: 2vh;
    right: 6vw;
  }

  .top_nav_title {
    position: absolute;
    top: 1vh;
    left: 6vw;
  }

  a {
    font-size: 22px;
    color: #ffffff;
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;

    i {
      transition: all 0.3s ease-out;
    }

    &:hover {
      color: gold;

      svg {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
    &:after {
      content: "";
      font-size: 12px;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
    }
    &:first-child {
      &:after {
        content: "LINKEDIN";
      }
    }
  }
  a.github-icon {
    &:after {
      content: "GITHUB";
    }
  }
  a.contact-icon {
    padding-top: 1vh;

    &:after {
      content: "CONTACT";
    }
  }
}