#to_top {
  position: fixed;
  height: 50px;
  width: 50px;
  right: 50px;
  bottom: 50px;

  .MuiSvgIcon-root {
    width: 7vw;
    height: 7vw;
    color: gold;
  }
}

@media (max-width: 480px) {
  #to_top {
    .MuiSvgIcon-root {
      height: 15vw;
      width: 15vw;
    }
  }
}
