#to_top {
  position: fixed;
  right: 10vw;
  bottom: 10vw;

  .MuiSvgIcon-root {
    color: gold;
  }
}

@media (min-width: 1027px) {
  #to_top {
    right: 25px;
    bottom: 25px;

    .MuiSvgIcon-root {
      height: 110px;
      width: 110px;
    }
  }
}

@media (max-width: 1026px) {
  #to_top {
    right: 2vw;
    bottom: 2vw;

    .MuiSvgIcon-root {
      height: 12vw;
      width: 12vw;
    }
  }
}

@media (max-width: 769px) {
  #to_top {
    .MuiSvgIcon-root {
      height: 10vw;
      width: 10vw;
    }
  }
}

@media (max-width: 480px) {
  #to_top {
    .MuiSvgIcon-root {
      height: 15vw;
      width: 15vw;
    }
  }
}
